
<h1> You like 
    <!-- can inject into an attribute or the body of any element -->
    <span style="color:<%=@color%>"> <%=@color%></span>, 
    interesting choice. I prefer 
    <span style="color:cornflowerblue">cornflowerblue</span>
</h1>